* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #A435F0;

}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.navbar__s4 {
    display: none;
}
    
/* My Learning pop up */
.mylearning {
    position: relative;
    cursor: pointer; 
}
.mylearning__popup {
    background-color: white;
    border: solid black 2px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    position: absolute;
    display: none;
}

.mylearning:hover .mylearning__popup {
    display: block;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
}

.categories p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: solid black 1px;
}
.categories p:hover{
    transition: 0.2s;
    background-color: transparent;
    color: black;
    border:solid black 1px;

}
.sale-image{
    position: relative;
}
.sale-image img{
    width: 100%;
}

.sale-image__offer {
    background-color: #A435F0;
    color: aliceblue;
    width: 35%;
    position: absolute;
    top: 30%;
    left: 5%;
    padding: 2%;
    border: solid 2px black;
    animation-name: zoom;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}
.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;

}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course-card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;


}

.topics__container p {
    border: solid gray 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;

}

.footer__1 {
    display: flex;
    gap: 20px;
}

.footer__2 {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__1 p {
    margin: 10px;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    body{
        font-size: 10px;
    }
}
@media screen and (max-width: 600px) {
    .course-card {
        flex-basis: 45%;
    }
    .categories {
        display: none;
    }
    .navbar__s2, .navbar__s3 {
        display: none
    }
    .navbar__s4 {
        display: block;
    }
}